In [7]:
from os import environ
from iexfinance.stocks import Stock
from dotenv import load_dotenv
load_dotenv()

iex_token = [environ[key] for key in environ if key == 'IEX_TOKEN']
print(iex_token[0][0:10])

Tsk_5c3a24

In [13]:
from iexfinance.refdata import get_symbols
from iexfinance.stocks import Stock

# symbols = get_symbols()
# symbols.columns
# symbols.loc[symbols['symbol'] == 'GOOGL']

# from iexfinance.account import get_usage
# get_usage(quota_type='messages')

In [26]:
symbols = ['AAPL', 'MSFT', 'AMZN', 'GOOGL', 'FB']
batch = Stock(symbols, output_format="pandas")
batch.get_price()
# advanced_stats = batch.get_advanced_stats()

        AAPL   MSFT     AMZN    GOOGL      FB
price  127.6  223.4  3213.27  1781.26  274.34

In [24]:
advanced_stats.columns

Index(['beta', 'totalCash', 'currentDebt', 'revenue', 'grossProfit',
       'totalRevenue', 'EBITDA', 'revenuePerShare', 'revenuePerEmployee',
       'debtToEquity', 'profitMargin', 'enterpriseValue',
       'enterpriseValueToRevenue', 'priceToSales', 'priceToBook',
       'forwardPERatio', 'pegRatio', 'peHigh', 'peLow', 'week52highDate',
       'week52lowDate', 'putCallRatio', 'companyName', 'marketcap',
       'week52high', 'week52low', 'week52change', 'sharesOutstanding', 'float',
       'avg10Volume', 'avg30Volume', 'day200MovingAvg', 'day50MovingAvg',
       'employees', 'ttmEPS', 'ttmDividendRate', 'dividendYield',
       'nextDividendDate', 'exDividendDate', 'nextEarningsDate', 'peRatio',
       'maxChangePercent', 'year5ChangePercent', 'year2ChangePercent',
       'year1ChangePercent', 'ytdChangePercent', 'month6ChangePercent',
       'month3ChangePercent', 'month1ChangePercent', 'day30ChangePercent',
       'day5ChangePercent'],
      dtype='object')

In [25]:
advanced_stats.to_csv('stats.csv')

In [20]:
import pyodbc
import pandas
print([x for x in pyodbc.drivers() if x.endswith(' for SQL Server')])
driver = '{ODBC Driver 17 for SQL Server}'
(svr, db, uid, pwd) = environ['MSSQL_SERVER'], environ['MSSQL_DB'], environ['MSSQL_UID'], environ['MSSQL_PWD']
conn = pyodbc.connect(f'DRIVER={driver};SERVER={svr};DATABASE={db};UID={uid};PWD={pwd}')

['ODBC Driver 17 for SQL Server']

In [19]:
sql = "Select * from StockPrice"
pandas.read_sql(sql,conn)

   id symbol  price            timeRecorded
0   1   AAPL  123.0 2020-12-15 05:04:46.880